package views

import "github.com/linn221/memory-sheets/models"

templ ListingSheet(sheet *models.MemorySheet) {
    <div id={sheet.DateStr()} hx-target="this" hx-swap="outerHTML">
        <lead>{sheet.Title()}</lead>
        <hr>
            @templ.Raw(MarkdownToHTMLSafe(sheet.Text))
        <hr>
        <button hx-get={sheet.Url() + "/edit"}>Edit</button>
        <button hx-delete={sheet.Url()} hx-confirm="are you sure?" hx-swap="delete">Delete</button>
    </div>
}